**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Deena Pederson
- Vedika Harnathka
- Paola Sanchez
- Anne Pham
- Zoe Ludena

# Research Question

How have abortion rates changed in response to changes in various factors - such as the representation of female politicians, access to obstetric and gynecological (OB/GYN) care, and income levels - in the USA from 2000-2020? How will these factors help us predict future abortion rates in the foreseeable future?

## Background and Prior Work


To be more specific in our research, the definition in which we are abiding by the term “women in governing bodies” are women who are in the respective current state legislature. Throughout our data we will look at all U.S. territories excluding Guam, U.S. Virgin Islands, and the District of Columbia. However, we will be using 3 states as markers and general comparisons to the data: 1) having the highest percentage of women in their state legislature, 2) having the lowest percentage of women in their state legislature, and 3) having the median percentage of women in their state legislature. While proceeding with our research, if we have the time and data to do so, we would love to delve deeper into any possible outliers within the states.

One of the first considerations to be made is which states have higher female representation and which have less. We can note that in all 50 states males are over represented while females are underrepresented.[^1] This data splits the measures into two separate categories; state legislatures. Overall Vermont, Maine, and Rhode Island notably have the smallest disparities, while North Dakota, South Dakota, and Nebraska have the highest.

A study done by the National Partnership for Women & Families[^2] states with a higher representation of female legislators are more likely to adopt abortion protection policies. This study considers 2 categories of representation in legislation: states where women make up more than a third of the members, and states where women make up less than a third of members. They found that of the prior, 84% of these states have policies that support abortion access while the former only has 15%. They also consider how the ethnic diversity in these women may also correlate.

Subsequently, female health is a very general statement, therefore we decided to focus on OB/GYN access. We believe that this may yield some type of correlation between abortion rates. We believe that there will be some type of existing correlation between this accessibility and abortion rates. Additionally, another factor that we must consider are average income rates. In the article, *Rural-urban differences in access to hospital obstetric and neonatal care: how far is the closest one?*, their general conclusion is that: “Women in communities that are already socioeconomically disadvantaged face increasing and substantial travel distances to access perinatal care.[^3] (Hung et al.)

[^1]: Wolf, C. (2022, August 25). [Best States for Gender Equality: Representation and Power](https://www.usnews.com/news/best-states/articles/best-states-for-gender-equality-representation-power#:~:text=Vermont%2C%20Maine%20and%20Maryland%20have,women%20compared%20to%2038.1%25%20men)

[^2]: Lack of Representation by Women in State Legislatures Threatens Abortion Access. (n.d.). National Partnership for Women & Families. Retrieved February 12, 2024, from [source](https://nationalpartnership.org/news_post/lack-of-representation-women-state-legislatures-threatens-abortion-access/#:~:text=Of%20the%2024%20states%20and)

[^3]: Hung, P., Casey, M. M., Kozhimannil, K. B., Karaca-Mandic, P., & Moscovice, I. S. (2018). [Rural-urban differences in access to hospital obstetric and neonatal care: how far is the closest one?](https://doi.org/10.1038/s41372-018-0063-5)

# Hypothesis


Proportionately higher representation of females in state government, lower income level, and higher concentration of OBGYN  correlates to states with higher rates of abortion.
We think that with higher representation and advocacy from women in governmental positions of power, this will be reflected through policies allowing for increased access to abortion. 
Additionally, areas with lower income may have financial burdens not suitable for raising a child, as well as limited access to affordable healthcare and contraceptives. Finally, a higher concentration of OBGYN will correlate to higher access to abortion services and healthcare professionals.

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- Dataset #2 (if you have more than one!)
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- etc

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Get the current working directory (allows for everyone to pull it without formatting issues)
current_dir = os.getcwd()
data_folder = os.path.join(current_dir, 'data')

# The different CSV files we will be using file paths
aisau1 = "abortion-incidence-service-availability-us-2017-table_1.csv"
aisau2 = "abortion-incidence-service-availability-us-2017-table_2.csv"
aisau3 = "abortion-incidence-service-availability-us-2017-table_3.csv"
aisau4 = "abortion-incidence-service-availability-us-2017-table_4.csv"
aisau5 = "abortion-incidence-service-availability-us-2017-table_5.csv"
aisau6 = "abortion-incidence-service-availability-us-2017-table_6.csv"
mhis = "median-household-income-by-state.csv"
congress = "paragraph_1009_field_table_und_0.csv"

# Using os to make the file path

#These are from the Abortion Rates link
aisau1_fp = os.path.join(data_folder, aisau1)
aisau2_fp = os.path.join(data_folder, aisau2)
aisau3_fp = os.path.join(data_folder, aisau3)
aisau4_fp = os.path.join(data_folder, aisau4)
aisau5_fp = os.path.join(data_folder, aisau5)
aisau6_fp = os.path.join(data_folder, aisau6)

#This is from the Median Household Income by State link
mhis_fp = os.path.join(data_folder, mhis)

#This is from https://cawp.rutgers.edu/facts/levels-office/congress/history-women-us-congress
congress_fp = os.path.join(data_folder, congress)

#We still need more congress data and the OBGYN data

# Making DataFrames
aisau1 = pd.read_csv(aisau1_fp, sep = "|")
aisau2 = pd.read_csv(aisau2_fp, sep = "|")
aisau3 = pd.read_csv(aisau3_fp, sep = "|")
aisau4 = pd.read_csv(aisau4_fp, sep = "|")
aisau5 = pd.read_csv(aisau5_fp, sep = "|")
aisau6 = pd.read_csv(aisau6_fp, sep = "|")
mhis = pd.read_csv(mhis_fp, sep = "|")
congress = pd.read_csv(congress_fp)

## Dataset #1 Abortion Incidence

### Table 1

In [3]:
aisau1.head()

   Year No. (in 000s)    Rate   Ratio
0  2000       1,313.0    21.3    24.5
1  2001     [1,291.0]  [20.9]  [24.4]
2  2002     [1,269.0]  [20.5]  [23.8]
3  2003     [1,250.0]  [20.2]  [23.3]
4  2004       1,222.1    19.7    22.9

In [4]:
aisau1.dtypes

Year              int64
No. (in 000s)    object
Rate             object
Ratio            object
dtype: object

In [ ]:
def remove_brackets_make_num(string):
    banana

### Table 2

In [5]:
aisau2.head()

,Region and State,No. 2014,No. 2016,No. 2017,Rate 2014,Rate 2016,Rate 2017,% change 2014-2017
0,U.S. total,"926,190","874,080","862,320",14.6,13.7,13.5,-8
1,Northeast,"240,320","232,040","224,310",21.8,21.2,20.5,-6
2,Connecticut,"13,140","12,210","11,910",19.2,18.1,17.7,-8
3,Maine,"2,220","2,060","2,040",9.5,8.9,8.8,-7
4,Massachusetts,"21,020","19,200","18,590",15.3,14.0,13.5,-12

In [6]:
aisau2.dtypes

Region and State       object
No. 2014               object
No. 2016               object
No. 2017               object
Rate 2014             float64
Rate 2016             float64
Rate 2017             float64
% change 2014-2017      int64
dtype: object

### Table 3

In [7]:
aisau3.head()

,Unnamed,Facilities No. 2014,Facilities No. 2017,Facilities % 2014,Facilities % 2017,Abortions No. 2014,Abortions No. 2017,Abortions % 2014,Abortions % 2017
Facility type,Total,"1,671","1,587",100,100,"926,190","862,320",100,100
Facility type,Hospital,638,518,38,33,"34,410","28,760",4,3
Facility type,Abortion clinic,272,253,16,16,"547,130","519,180",59,60
Facility type,Nonspecialized clinic,517,555,31,35,"331,790","302,860",36,35
Facility type,Physicians' office,244,261,15,16,"12,870","11,510",1,1

In [8]:
aisau3.dtypes

Unnamed                object
Facilities No. 2014    object
Facilities No. 2017    object
Facilities % 2014       int64
Facilities % 2017       int64
Abortions No. 2014     object
Abortions No. 2017     object
Abortions % 2014        int64
Abortions % 2017        int64
dtype: object

### Table 4

In [9]:
aisau4.head()

,Region and state,No. of clinics 2014,No. of clinics 2017,% change 2014-2017,"% of counties without a clinic, 2017","% of women in counties with no clinic, 2017"
0,U.S. total,789,808,2,89,38
1,Northeast,212,245,16,54,21
2,Connecticut,25,26,4,13,5
3,Maine,4,16,300,31,24
4,Massachusetts,14,19,36,43,13

In [10]:
aisau4.dtypes

Region and state                               object
No. of clinics 2014                             int64
No. of clinics 2017                             int64
% change 2014-2017                              int64
% of counties without a clinic, 2017            int64
% of women in counties with no clinic, 2017     int64
dtype: object

### Table 5

In [11]:
aisau5.head()

,Prop Num of Clinics Decline/Increase,Location,No. of clinics 2014,No. of clinics 2017,No. of clinics % change,Abortion rate 2014,Abortion rate 2017,Abortion rate % change,Total no. of new restrictions in effect 2014–2017
0,NaN,U.S. total,789,808,2,14.6,13.5,-8,196
1,10 states with proportionately largest decline...,Kentucky,2,1,-50,4.1,3.8,-9,3
2,10 states with proportionately largest decline...,West Virginia,2,1,-50,6.0,4.4,-26,6
3,10 states with proportionately largest decline...,Indiana,9,6,-33,6.3,5.9,-6,20
4,10 states with proportionately largest decline...,Iowa,12,8,-33,7.5,6.3,-15,9

In [12]:
aisau5.dtypes

Prop Num of Clinics Decline/Increase                  object
Location                                              object
No. of clinics 2014                                    int64
No. of clinics 2017                                    int64
No. of clinics % change                                int64
Abortion rate 2014                                   float64
Abortion rate 2017                                   float64
Abortion rate % change                                 int64
Total no. of new restrictions in effect 2014–2017      int64
dtype: object

### Table 6

In [13]:
aisau6.head()

,Unnamed,No. of medication abortions,Offering only early medication abortion No.,Offering only early medication abortion % of all nonhospital providers
NaN,U.S. total,"339,640",269,25
Facility type,Physicians' office,"5,020",30,11
Facility type,Nonspecialized clinic,"153,350",229,41
Facility type,Abortion clinic,"181,280",10,4
Facility caseload,1-29,"1,230",57,24

In [14]:
aisau6.dtypes

Unnamed                                                                   object
No. of medication abortions                                               object
Offering only early medication abortion No.                                int64
Offering only early medication abortion % of all nonhospital providers     int64
dtype: object

## Dataset #2 Median household income, by state: Selected years, 1990 through 2015

In [15]:
mhis.head() #SE means standard error

,State,1990,2000,2005,2005 (SE),2010,2010 (SE),2011,2011 (SE),2012,2012 (SE),2013,2013 (SE),2014,2014 (SE),2015,2015 (SE)
0,United States,"$$55,500","$$59,800","$$56,100",($$80),"$$54,400",($$40),"$$53,200",($$50),"$$53,000",($$30),"$$53,200",($$40),"$$53,700",($$60),"$$55,800",($$50)
1,Alabama,"$$43,600","$$48,600","$$44,800",($$390),"$$44,000",($$310),"$$43,600",($$350),"$$42,900",($$300),"$$43,600",($$400),"$$42,900",($$360),"$$44,800",($$450)
2,Alaska,"$$76,400","$$73,400","$$68,200","($$1,330)","$$70,200","($$1,380)","$$71,500","($$1,250)","$$69,900","($$1,190)","$$73,500","($$1,170)","$$71,700","($$1,090)","$$73,400","($$1,410)"
3,Arizona,"$$50,800","$$57,700","$$53,700",($$480),"$$50,900",($$350),"$$49,200",($$350),"$$49,400",($$380),"$$49,400",($$360),"$$50,100",($$290),"$$51,500",($$260)
4,Arkansas,"$$39,000","$$45,800","$$42,500",($$440),"$$41,600",($$420),"$$40,800",($$490),"$$41,400",($$310),"$$41,200",($$440),"$$41,300",($$400),"$$42,000",($$290)

In [16]:
mhis.dtypes

State        object
1990         object
2000         object
2005         object
2005 (SE)    object
2010         object
2010 (SE)    object
2011         object
2011 (SE)    object
2012         object
2012 (SE)    object
2013         object
2013 (SE)    object
2014         object
2014 (SE)    object
2015         object
2015 (SE)    object
dtype: object

## Dataset #3: History of Women in the U.S. Congress

In [17]:
congress = congress.drop(columns = ["0"], axis = 1) #Removing index provided

In [18]:
congress.head() #D means Democrat and R means Republican

  Congress      Dates Women in the Senate Women in the House Total Women
0     65th  1917-1919          0 (0D, 0R)         1 (0D, 1R)  1 (0D, 1R)
1     66th  1919-1921          0 (0D, 0R)         0 (0D, 0R)  0 (0D, 0R)
2     67th  1921-1923          1 (1D, 0R)         3 (0D, 3R)  4 (1D, 3R)
3     68th  1923-1925          0 (0D, 0R)         1 (0D, 1R)  1 (0D, 1R)
4     69th  1925-1927          0 (0D, 0R)         3 (1D, 2R)  3 (1D, 2R)

In [19]:
congress.dtypes

Congress               object
Dates                  object
Women in the Senate    object
Women in the House     object
Total Women            object
dtype: object

## Dataset #4 (if you have more than one, use name instead of number here)

In [20]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

In all of the datasets we have utilized, we have accessed these specific ones from public institutions or have already been labeled public-use datasets. Therefore, the subjects used in the research have already consented and answered all, if any, anonymity agreements or anything else necessary to protect their privacy. For the intent of use in this project, there are no additional steps for us to take to further participants’ privacies.
Beyond privacy concerns, we must consider the reliability of our data. If we are considering abortion rates, we must consider the possibility of underreporting and illegal abortions. Additionally it is possible that political agendas or compromises in data collecting infrastructure causing unreliable data. We will do the best we can to find the most complete and reliable data, while still considering the possibilities of bias or possible underreporting.

# Team Expectations


Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually. Then, include your group’s expectations of one another for successful completion of your COGS108 project below. Discuss and agree on what all of your expectations are. Discuss how your team will communicate throughout the quarter and consider how you will communicate respectfully should conflicts arise. By including each member’s name above and by adding their name to the submission, you are indicating that you have read the COGS108 Team Policies, accept your team’s expectations below, and have every intention to fulfill them. These expectations are for your team’s use and benefit — they won’t be graded for their details.

- We expect to meet at least once a week in person and another time again online, especially if there is a checkpoint in the next few days.
- In the case that our meetings are cut short, we expect to delegate work amongst each other respective to our availability and team contributions.
- We will do our best to stay on track, however we expect each other to be understanding of personal schedules and will do our best to accommodate one another.

# Project Timeline Proposal

Subject to change

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/3  |  4:30 PM | NA | Discuss possible topics, Work on Group Project Review | 
| 2/5  |  2:30 PM |  Brainstorm for possible topics | Discuss possible topics, determine what kind of datasets we should look for| 
| 2/8  | 3:30 PM  | Search for datasets, think about ways in which our research question could be elaborated | Discuss research question, look for datasets, delegate sections for project proposal  |
| 2/13  | 2 PM  | Submit Proposal, do more research on datasets | choose a few datasets, discuss how we will clean the data, delegate roles/work |
| 2/15  | 3:30 PM  | Wrangle Data | Check in to discuss and clarify our edits/ questions |
| 2/19  | 2 PM  | Continue to edit and wrangle data | Check-in to discuss and clarify our edits/ questions |
| 2/22  | 3:30 PM  | Review requirements for Checkpoint #1| Finish SetUp and Data Cleaning parts of the Checkpoint, delegate tasks |
| 2/26  | 2 PM  | Submit Checkpoint on the 25th | Meet to discuss next steps, delegate Tasks |
| 3/4  | 2 PM  | Data Analysis | Meet to Analyze the Data, delegate tasks for the Checkpoint |
| 3/7  | 3:30 PM  | Review and work on requirements for Checkpoint #2 |Check-in to discuss Data Analysis portion |
| 3/14  | 2 PM  | Submit Checkpoint #2 on the 10th, start working on the final report| Meet to discuss Final Report and film Video |
| 3/20 | Before 11:59 PM  | Continue to touch-up Final Report | Turn in Final Project & Group Project Survey |